#friends-display-link {
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
}

#friends-display-link i {
  color: var(--gray);
}
/*
.friends-screen {
  padding: 0px var(--horizontal-space);
}
*/

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding: 15px var(--horizontal-space);
}

.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash {
  background-color: var(--yellow);
  position: absolute;
  height: 160vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: hideSplashScreen 0.2s ease-in-out forwards;
  animation-delay: 2s;
  z-index: 80;
}
