.more__user-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more__user-component i {
  margin-top: 8px;
  margin-left: 5px;
  color: rgb(248, 97, 97);
}

.more-icons {
  margin-top: 35px;
}

.icons-row__icon__dot {
  position: relative;
}
.more-dot {
  position: absolute;
  left: 40px;
  top: -11px;
}

.icons-row {
  color: rgba(0, 0, 0, 0.6);
}

.suggestions {
  border-top: var(--main-border);
  margin: 20px 0;
  padding: 15px 0;
  margin: 30px 0;
}

.suggestions__icons {
  display: flex;
  margin: 15px 0px;
}

.suggestions__icons__icon {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  text-align: center;
  opacity: 0.6;
}

.suggestions__icons__more {
  background-color: var(--yellow);
  width: 60px;
  height: 60px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-content: center;
}
